#map {
    background: blue;
}
#tooltip {
    background: red;
    padding: 50px;
}
.department:hover {
    fill: yellow;
    stroke: white;
    stroke-width: 1px;
}
.column {
    line-height: 2em;
    color: whitesmoke;
}
.menu-list {
    padding: 2em;
}

iframe {
    padding: .5em !important;
    border: 2px solid black !important;

}
h2 {
    padding: 1em;
    font-size: 1.5em !important;
}
body {
    text-align: center;
}
.header {
    margin: 2em;
}