#map {
    background: rgb(50, 115, 220);
}
#tooltip {
    background: rgb(255, 56, 96);
    padding: 50px;
}
.department {
    fill: #555;
    stroke: white;
    stroke-width: 1px;
}
.department:hover {
    fill: rgb(255, 221, 87);
    stroke: white;
    stroke-width: 1px;
}
.column {
    line-height: 2em;
    color: whitesmoke;
}
.menu-list {
    padding: 2em;
}
iframe {
    padding: .5em !important;
    border: 2px solid black !important;
}
h2 {
    padding: 1em;
    font-size: 1.5em !important;
}
body {
    text-align: center;
}
header {
  margin: 2em;
  line-height: 50px;
}
header div {
  display: inline-block;
}
li {
  font-size: 10px;
}